/*main structure for document: html, content and background image */

html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}

.content {
  width: 960px;
  margin: auto;
}

.bgImage {
  height: 30rem;
  width: 100%;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

/*Navigation and Header */

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  top: 1rem;
  background-color: cadetblue;
  color: white;
}

.lefthand {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.lefthand img {
  height: 1.5rem;
  padding-right: 1rem;
}

.lefthand p {
  font-family: Helvetica;
  font-size: 1rem;
}

header ul li{
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.tagline {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
}

.tagline h1 {
  position: relative;
  top: 10rem;
  background-color: white;
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/* This is where all the main content is after the image and navigation */

.second {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imageLinks {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  margin-bottom: 3rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
  line-height: 1.4rem;
}

.item {
  margin-bottom: 1rem;
}

#first img{
  width: 3.5rem;
}

#center img{
  width: 5rem;
}

#last img{
  width: 5rem;
}

/* Second section with the paragraphs */

.paragraphs {
  display: flex;
  justify-content: center;
}

.paragraph {
  width: 35%;
}

#paragraph2 {
  padding-left: 5%;
}

.paragraph h2 {
  width: 10rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.25rem
}

.paragraph p {
  padding-top: 1rem;
  line-height: 1.4rem;
}

/* Footer area */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
